.flex_container
{
    display: flex;
    justify-content:left;
    background-color: lavenderblush;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
}
.menu_item
{
    background-color: ghostwhite;
}
.menu_item button {
    display: inline;
    color:rgb(85, 77, 77);
    padding: 16px;
    text-decoration: none;
    width: 100px;
  }
   
  .menu_item button.active {
    background-color: rgb(233, 176, 157);
    color: white;
  }
  
  .menu_item button:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  @media screen and (max-width: 700px) {
    .menu_item {
      width: 100%;
      height: auto;
      position: relative;
    }
    .menu_item button {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .menu_item button {
      text-align: center;
      float: none;
    }

}