* {
  box-sizing: border-box;
}

.home_flex_container {
  display: flex;
  flex-wrap: wrap;
}
.header {
  padding: 10px;
  text-align: center;
  background: #f6f8f8;
  color: white;
}

.menu {
  width: 100%;
}

/* .contentopt {
  background-color: aquamarine;
  width: 200px;
  z-index: 1;
}
.content {
  margin-left: 200px;
  background-color: white;
  padding: 20px;
} */
/* .outer_contentopt {
  height: 100%;
  width: 200px;
  background-color: aquamarine;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.inner_contentopt {
  margin-top: 132px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: aliceblue;
  width: 200px;
  height: 100%;
  z-index: 2;
  display: absolute;
} */
