#sticky {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: rgb(51, 50, 50);
}
#row {
  width: 100%;
}

#strt-col {
  margin-left: 120px;
}

.btn-primary {
  color: black;
  background-color: darkseagreen;
}

.btn:hover {
  background-color: rgb(38, 35, 211);
}
.link {
  text-decoration: none;
}
