/* .sidemenu {
  height: max-content;
  background-color: bisque;
}

.navbar {
  display: flex;
  background-color: black;
  flex-direction: column;
}

.navbar a {
  padding: 10px;
  background-color: aqua;
  align-items: center;
  margin: 5px;
} */
* {
  box-sizing: border-box;
}
.menu {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar {
  display: flex;
  background-color: #333;
  justify-content: space-around;
  height: max-content;
  width: 100%;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(241, 236, 236);
  color: rgb(24, 23, 23);
  border-radius: 25px;
}

.content {
  margin-left: 100px;
  padding: 20px;
}
