.jobCard
{
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: auto;
    height: auto;
    display: inline-block;
    justify-content: space-around;
    position: relative;
    padding: 10px 5px 10px 10px;
    margin: 10px;
    color: rgb(85, 77, 77);
    background-color: lavenderblush;
}

.jobCard:hover
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
}

.role
{
    text-size-adjust: auto;
    text-decoration-style: solid;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
    width:100%;
    height: auto;
    padding: 2px;
    margin: 2px;
    display: block;
}

.company
{
    text-size-adjust: auto;
    text-decoration-style: solid;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    width:100%;
    height: auto;
    padding: 5px 5px 5px 20px;
    margin: 2px;
    display: block;
}

.company_logo
{
    display:flex;
    /* float: right; */
    margin-right: 30px;
    width: 50px;
    height: 50px;
}

.JD{
  display: flex;
  background-color: ghostwhite;
  padding: 20px;
  align-items: center;
  text-align: justify;
  font-family: sans-serif;
  font-size: 16px;
  flex-direction: column;
  justify-content: space-around;
}
.apply_btn__container
{
align-items: center;
}
.apply_btn
{
  width: 120px;
  height: 30px;
  font-family: sans-serif;
  font-weight: 500;
  background-color: white;
  margin: 5px;
  padding:2px 4px;
  border: 3px solid rgb(233, 176, 157);
  box-shadow:1px 1px 3px 1px rgb(212, 114, 84);
  border-radius: 5px;
}