.menu-bar
{
  width: 150px;
  height: 655px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: safe;
  justify-self:left;
  position: fixed;
  background-color: lavenderblush;
}