/* body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:lavenderblush;
    position: relative;
    height: 100%;
    overflow:auto;
  }
  
  .sidebar button {
    display: block;
    color:rgb(85, 77, 77);
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar button.active {
    background-color: rgb(233, 176, 157);
    color: white;
  }
  
  .sidebar button:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar button {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar button {
      text-align: center;
      float: none;
    }
  } */
  .sidebar {
    margin: 0px;
    width: 200px;
    background-color:lavenderblush;
    position: relative;
    height: 100%;
    overflow:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 0px;
  }